@*@model BasicASP.Models.Student; ข้อมูลชุดเดียว*@

@*@model IEnumerable<BasicASP.Models.Student>;*@
@model IEnumerable<Student>; //SAME AS ABOVE

@{
    ViewData["Title"] = "หน้าแรก";
}
@* ข้อมูลชุดเดียว
<h1 class="text-center">หน้าแรกของเว็บไซต์</h1>

<p>รหัสนักเรียน : @Model.Id</p>
<p>ชื่อ : @Model.Name</p>
<p>คะแนนสอบ : @Model.Score</p>
*@


@if (Model.Count()>0)
{
    <h1 class="text-center">คะแนนสอบวิชาคอมพิวเตอร์</h1>
    <table class="table table-dark" >
    <thead> 
        <th>รหัสนักเรียน</th>
        <th>ชื่อนักเรียน</th>
        <th>คะแนนสอบ</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
     
        <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Score</td>
                <td><a class="btn btn-warning" 
                    asp-controller="Student"
                   asp-action="Edit"
                asp-route-id="@student.Id">แก้ไข</a>
                </td>
                    
                <td><a class="btn btn-danger"
                asp-controller="Student"
                asp-action="Delete"
                asp-route-id="@student.Id"
                onclick="return confirm('คุณต้องการลบ @student.Name หรือไม่ ?')"
                
                >ลบ</a></td>
        </tr>     

        }
    </tbody>

</table>
}
else
{
    <div class="alert alert-secondary">ไม่มีข้อมูลนักเรียนในระบบ</div>
    
}



